<div class="loading show">
    <p>Loading filmographies...</p>
    <div class="progress-bar progress-bar--indeterminate">
        <div class="progress-bar__track">
            <div class="progress-bar__fill"></div>
        </div>
    </div>
</div>
