{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/search/person?api_key=a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6&query=Tom%20Hanks",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"page\":1,\"results\":[{\"adult\":false,\"gender\":2,\"id\":31,\"known_for_department\":\"Acting\",\"name\":\"Tom Hanks\",\"original_name\":\"Tom Hanks\",\"popularity\":65.567,\"profile_path\":\"/xndWFsBlClOJFRdhSt4NBwiPq2o.jpg\",\"known_for\":[{\"adult\":false,\"backdrop_path\":\"/suaEOtk1N1sgg2MTM7oZd2cfVp3.jpg\",\"id\":13,\"title\":\"Forrest Gump\",\"original_language\":\"en\",\"original_title\":\"Forrest Gump\",\"overview\":\"A man with a low IQ has accomplished great things in his life and been present during significant historic events—in each case, far exceeding what anyone imagined he could do. But despite all he has achieved, his one true love eludes him.\",\"poster_path\":\"/arw2vcBveWOVZr6pxd9XTd1TdQa.jpg\",\"media_type\":\"movie\",\"genre_ids\":[35,18,10749],\"popularity\":97.296,\"release_date\":\"1994-06-23\",\"video\":false,\"vote_average\":8.471,\"vote_count\":26146},{\"adult\":false,\"backdrop_path\":\"/yHzyPJrVqlTySQ9mc379yxrLBYQ.jpg\",\"id\":862,\"title\":\"Toy Story\",\"original_language\":\"en\",\"original_title\":\"Toy Story\",\"overview\":\"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.\",\"poster_path\":\"/uXDfjJbdP4ijW5hWSBrPrlKpxab.jpg\",\"media_type\":\"movie\",\"genre_ids\":[16,35,10751],\"popularity\":108.5,\"release_date\":\"1995-10-30\",\"video\":false,\"vote_average\":8.003,\"vote_count\":17265},{\"adult\":false,\"backdrop_path\":\"/zkinandFylUlbGONx2SELJ7QsJd.jpg\",\"id\":157336,\"title\":\"Saving Private Ryan\",\"original_language\":\"en\",\"original_title\":\"Saving Private Ryan\",\"overview\":\"As U.S. troops storm the beaches of Normandy, three brothers lie dead on the battlefield, with a fourth trapped behind enemy lines. Ranger captain John Miller and seven men are tasked with penetrating German-held territory and bringing the boy home.\",\"poster_path\":\"/uqx37cS8cpHg8U35f9U5IBlrCV3.jpg\",\"media_type\":\"movie\",\"genre_ids\":[18,36,10752],\"popularity\":44.899,\"release_date\":\"1998-07-24\",\"video\":false,\"vote_average\":8.216,\"vote_count\":14060}]}],\"total_pages\":1,\"total_results\":1}"
        }
      },
      "recorded_at": "Sun, 13 Jul 2025 19:30:00 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}