{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/person/999999999/movie_credits?api_key=<TMDB_API_KEY>",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Az": [
            "us-east-1b"
          ],
          "X-Task-Id": [
            "e853c9a51503423686614dd8d52d92fc"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"success\":false,\"status_code\":34,\"status_message\":\"The resource you requested could not be found.\"}"
        }
      },
      "recorded_at": "Sun, 13 Jul 2025 19:52:16 GMT"
    }
  ],
  "recorded_with": "VCR 6.3.1"
}