{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/search/person?api_key=a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6&query=Brad",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"page\":1,\"results\":[{\"adult\":false,\"gender\":2,\"id\":287,\"known_for_department\":\"Acting\",\"name\":\"Brad Pitt\",\"original_name\":\"Brad Pitt\",\"popularity\":45.123,\"profile_path\":\"/ajNaPmXVVMJFg9GWmu6MJzTaXdV.jpg\",\"known_for\":[{\"adult\":false,\"backdrop_path\":\"/suaEOtk1N1sgg2MTM7oZd2cfVp3.jpg\",\"id\":550,\"title\":\"Fight Club\",\"original_language\":\"en\",\"original_title\":\"Fight Club\",\"overview\":\"A ticking-time-bomb insomniac and a slippery soap salesman channel primal male aggression into a shocking new form of therapy. Their concept catches on, with underground fight clubs forming in every town, until an eccentric gets in the way and ignites an out-of-control spiral toward oblivion.\",\"poster_path\":\"/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg\",\"media_type\":\"movie\",\"genre_ids\":[18],\"popularity\":97.296,\"release_date\":\"1999-10-15\",\"video\":false,\"vote_average\":8.471,\"vote_count\":26146}]}],\"total_pages\":20,\"total_results\":398}"
        }
      },
      "recorded_at": "Sun, 13 Jul 2025 19:30:00 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}