{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/search/person?api_key=<TMDB_API_KEY>&query=Tom%20Hanks",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "0700532bee1cf5b6741cfc35359932cc19a7132b5e6f2de541e4b9a1f9fc1ffe"
          ],
          "X-Memc-Age": [
            "3092"
          ],
          "X-Memc-Expires": [
            "20244"
          ],
          "X-Az": [
            "us-east-1a"
          ],
          "X-Task-Id": [
            "d2b340547157405f90257e5e88b33a4d"
          ],
          "Etag": [
            "W/\"b30843cf0d5b43c72a62ae8927bc49c0\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"page\":1,\"results\":[{\"adult\":false,\"gender\":2,\"id\":31,\"known_for_department\":\"Acting\",\"name\":\"Tom Hanks\",\"original_name\":\"Tom Hanks\",\"popularity\":11.0539,\"profile_path\":\"/eKF1sGJRrZJbfBG1KirPt1cfNd3.jpg\",\"known_for\":[{\"adult\":false,\"backdrop_path\":\"/tlEFuIlaxRPXIYVHXbOSAMCfWqk.jpg\",\"id\":13,\"title\":\"Forrest Gump\",\"original_title\":\"Forrest Gump\",\"overview\":\"A man with a low IQ has accomplished great things in his life and been present during significant historic events—in each case, far exceeding what anyone imagined he could do. But despite all he has achieved, his one true love eludes him.\",\"poster_path\":\"/arw2vcBveWOVZr6pxd9XTd1TdQa.jpg\",\"media_type\":\"movie\",\"original_language\":\"en\",\"genre_ids\":[35,18,10749],\"popularity\":21.0303,\"release_date\":\"1994-06-23\",\"video\":false,\"vote_average\":8.5,\"vote_count\":28368},{\"adult\":false,\"backdrop_path\":\"/3Rfvhy1Nl6sSGJwyjb0QiZzZYlB.jpg\",\"id\":862,\"title\":\"Toy Story\",\"original_title\":\"Toy Story\",\"overview\":\"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.\",\"poster_path\":\"/uXDfjJbdP4ijW[...]
