{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/search/person?api_key=<TMDB_API_KEY>&query=Zxqwerty12345",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "MISS, STORE"
          ],
          "X-Memc-Key": [
            "dd1ae62264964f4ef1f2c6a95dfb1a8c9ef4bac3644d6b06a813b0ee394e35bc"
          ],
          "X-Memc-Age": [
            "0"
          ],
          "X-Memc-Expires": [
            "26594"
          ],
          "X-Az": [
            "us-east-1c"
          ],
          "X-Task-Id": [
            "52ca7a31aa5f4e8081a2827c9eecdeef"
          ],
          "Etag": [
            "W/\"0e23279b004381f72a34159d5c7dfd1f\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"page\":1,\"results\":[],\"total_pages\":1,\"total_results\":0}"
        }
      },
      "recorded_at": "Sun, 13 Jul 2025 19:52:15 GMT"
    }
  ],
  "recorded_with": "VCR 6.3.1"
}