{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/search/person?api_key=<TMDB_API_KEY>&query=Leonardo",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "b9cfb4b11ee8c6553e3902d70a06d42897b7c04ece53f621c650be2ccef0c308"
          ],
          "X-Memc-Age": [
            "14842"
          ],
          "X-Memc-Expires": [
            "10705"
          ],
          "X-Az": [
            "us-east-1b"
          ],
          "X-Task-Id": [
            "4df14dbffd4c4d5fa5ffbf938ea4fd37"
          ],
          "Etag": [
            "W/\"a453fec2f0f8e2efc2ba505267ed25f4\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"page\":1,\"results\":[{\"adult\":false,\"gender\":0,\"id\":1769109,\"known_for_department\":\"Art\",\"name\":\"Leonardo\",\"original_name\":\"Leonardo\",\"popularity\":0.0143,\"profile_path\":null,\"known_for\":[{\"adult\":false,\"backdrop_path\":\"/gy4RzOcJsRpJXOnZ7bWJEbE9UZ2.jpg\",\"id\":483,\"title\":\"Wild at Heart\",\"original_title\":\"Wild at Heart\",\"overview\":\"Young lovers Sailor and Lula hit the road to start a new life together away from the wrath of Lula’s deranged, disapproving mother, who has hired a team of hitmen to cut the lovers’ surreal honeymoon short.\",\"poster_path\":\"/uLUFI5sJIfWrBUWB2Y1dEuyvvVy.jpg\",\"media_type\":\"movie\",\"original_language\":\"en\",\"genre_ids\":[80,53,10749],\"popularity\":3.2859,\"release_date\":\"1990-08-17\",\"video\":false,\"vote_average\":7.0,\"vote_count\":1773},{\"adult\":false,\"backdrop_path\":\"/rCe8fRm43q43PzieSpcw38UhVEu.jpg\",\"id\":233390,\"title\":\"Bitter Harvest\",\"original_title\":\"Bitter Harvest\",\"overview\":\"Travis has just buried his father, when Kelly, an attractive hitchhiker walks into his life. At the same time, another attractive blonde, Jolene, starts taking an interest in Travis. Both women are secretly after something.\",\"poster_path\":\"/fsybDx6vyo30tPjvS0g7B32bVCo.jpg\",\"media_type\":\"movie\",\"original_language\":[...]
