{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/search/person?api_key=<TMDB_API_KEY>&query=Tom",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "4ac0a1ba1a96058a09e7e9f67f6ee439ee7629db25a0a255e4d3123be893f983"
          ],
          "X-Memc-Age": [
            "20080"
          ],
          "X-Memc-Expires": [
            "2778"
          ],
          "X-Az": [
            "us-east-1c"
          ],
          "X-Task-Id": [
            "ab675883f8be46faa7cc79d3a3a2a9ea"
          ],
          "Etag": [
            "W/\"7a11d6a3a4d9b1b1275ead8f3445dcc7\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"page\":1,\"results\":[{\"adult\":false,\"gender\":0,\"id\":2584722,\"known_for_department\":\"Acting\",\"name\":\"Tom\",\"original_name\":\"Tom\",\"popularity\":0.0071,\"profile_path\":null,\"known_for\":[{\"adult\":false,\"backdrop_path\":\"/keOnyGyEIxspH40EDxzPP4fxdS1.jpg\",\"id\":47037,\"title\":\"Particularly Now, in Spring\",\"original_title\":\"Particularly Now, in Spring\",\"overview\":\"It's sports day and a seventeen-year-old boy prepares to compete, as he has many times before.  Only this time it's different, his childhood is behind him, different feelings, emotions and desires engulf him as he watches his classmates.  His life is about to change.\",\"poster_path\":\"/lopnIK9nJtQjUMpabqjASUQ2eOD.jpg\",\"media_type\":\"movie\",\"original_language\":\"en\",\"genre_ids\":[18],\"popularity\":0.0718,\"release_date\":\"1996-03-02\",\"video\":false,\"vote_average\":5.2,\"vote_count\":6}]},{\"adult\":false,\"gender\":0,\"id\":4613710,\"known_for_department\":\"Acting\",\"name\":\"Tom\",\"original_name\":\"Tom\",\"popularity\":0.0143,\"profile_path\":null,\"known_for\":[{\"adult\":false,\"backdrop_path\":null,\"id\":1264330,\"title\":\"Jacks Not Home\",\"original_title\":\"Jacks Not Home\",\"overview\":\"uppers I guess, I don't know\",\"poster_path\":null,\"media_type\":\"movie\",\"original_language\":\"en\",\"genre_ids\":[35,18],\"popularity\":0.0327,\"release_date\":\"2024-0[...]
