{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/person/6193/movie_credits?api_key=<TMDB_API_KEY>",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "f63299e27323b12ea04c44d77d327f809f109c386f0c41fc948dcf2c62a2991d"
          ],
          "X-Memc-Age": [
            "12636"
          ],
          "X-Memc-Expires": [
            "14589"
          ],
          "X-Az": [
            "us-east-1c"
          ],
          "X-Task-Id": [
            "ab675883f8be46faa7cc79d3a3a2a9ea"
          ],
          "Etag": [
            "W/\"34a4867088be3a77c483716f216b9642\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"cast\":[{\"adult\":false,\"backdrop_path\":\"/gakVVTn9QDupSHvgXm6XHNdmRJf.jpg\",\"genre_ids\":[18,10749],\"id\":454,\"original_language\":\"en\",\"original_title\":\"Romeo + Juliet\",\"overview\":\"In director Baz Luhrmann's contemporary take on William Shakespeare's classic tragedy, the Montagues and Capulets have moved their ongoing feud to the sweltering suburb of Verona Beach, where Romeo and Juliet fall in love and secretly wed. Though the film is visually modern, the bard's dialogue remains.\",\"popularity\":4.7181,\"poster_path\":\"/eLf4jclPijOqfEp6bDAmezRFxk5.jpg\",\"release_date\":\"1996-11-01\",\"title\":\"Romeo + Juliet\",\"video\":false,\"vote_average\":6.8,\"vote_count\":5110,\"character\":\"Romeo\",\"credit_id\":\"52fe4245c3a36847f80114bf\",\"order\":0},{\"adult\":false,\"backdrop_path\":\"/tz72Y5pSSBBbTg6I2y2EC51zQi4.jpg\",\"genre_ids\":[99,10402],\"id\":473888,\"original_language\":\"ja\",\"original_title\":\"Ryuichi Sakamoto: Coda\",\"overview\":\"Oscar winning composer Ryuichi Sakamoto weaves man-made and natural sounds together in his works. His anti-nuclear activism grew after the 2011 Fukushima disaster, and his career only paused after a 2014 cancer diagnosis.\",\"popularity\":0.889,\"poster_path\":\"/604KuuoYofIbYRjZZ8BUoq2f8NE.jpg\[...]
