{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/search/person?api_key=<TMDB_API_KEY>&query=Zxqwerty123456",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "MISS, STORE"
          ],
          "X-Memc-Key": [
            "57759f49bb09e3c66ff43e4df79b8888ee837b154cb034e7d161ce25b0116af9"
          ],
          "X-Memc-Age": [
            "0"
          ],
          "X-Memc-Expires": [
            "21665"
          ],
          "X-Az": [
            "us-east-1b"
          ],
          "X-Task-Id": [
            "f9c53df32445444d91202c48f5cf8823"
          ],
          "Etag": [
            "W/\"0e23279b004381f72a34159d5c7dfd1f\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"page\":1,\"results\":[],\"total_pages\":1,\"total_results\":0}"
        }
      },
      "recorded_at": "Sun, 13 Jul 2025 14:30:30 GMT"
    }
  ],
  "recorded_with": "VCR 6.3.1"
}