{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/person/6193/movie_credits?api_key=<TMDB_API_KEY>",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "f63299e27323b12ea04c44d77d327f809f109c386f0c41fc948dcf2c62a2991d"
          ],
          "X-Memc-Age": [
            "12636"
          ],
          "X-Memc-Expires": [
            "14589"
          ],
          "X-Az": [
            "us-east-1c"
          ],
          "X-Task-Id": [
            "ab675883f8be46faa7cc79d3a3a2a9ea"
          ],
          "Etag": [
            "W/\"34a4867088be3a77c483716f216b9642\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"cast\":[{\"adult\":false,\"backdrop_path\":\"/gakVVTn9QDupSHvgXm6XHNdmRJf.jpg\",\"genre_ids\":[18,10749],\"id\":454,\"original_language\":\"en\",\"original_title\":\"Romeo + Juliet\",\"overview\":\"In director Baz Luhrmann's contemporary take on William Shakespeare's classic tragedy, the Montagues and Capulets have moved their ongoing feud to the sweltering suburb of Verona Beach, where Romeo and Juliet fall in love and secretly wed. Though the film is visually modern, the bard's dialogue remains.\",\"popularity\":4.7181,\"poster_path\":\"/eLf4jclPijOqfEp6bDAmezRFxk5.jpg\",\"release_date\":\"1996-11-01\",\"title\":\"Romeo + Juliet\",\"video\":false,\"vote_average\":6.8,\"vote_count\":5110,\"character\":\"Romeo\",\"credit_id\":\"52fe4245c3a36847f80114bf\",\"order\":0},{\"adult\":false,\"backdrop_path\":\"/tz72Y5pSSBBbTg6I2y2EC51zQi4.jpg\",\"genre_ids\":[99,10402],\"id\":473888,\"original_language\":\"ja\",\"original_title\":\"Ryuichi Sakamoto: Coda\",\"overview\":\"Oscar winning composer Ryuichi Sakamoto weaves man-made and natural sounds together in his works. His anti-nuclear activism grew after the 2011 Fukushima disaster, and his career only paused after a 2014 cancer diagnosis.\",\"popularity\":0.889,\"poster_path\":\"/604KuuoYofIbYRjZZ8BUoq2f8NE.jpg\[...]
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/person/6193?api_key=<TMDB_API_KEY>",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "1bc5d1a30202cf95f302a7aff3f1e8548abc081485f684fc8e6b592b8d7908e1"
          ],
          "X-Memc-Age": [
            "9709"
          ],
          "X-Memc-Expires": [
            "17412"
          ],
          "X-Az": [
            "us-east-1a"
          ],
          "X-Task-Id": [
            "f9cd58a001e9434b86e914dddaf4a83b"
          ],
          "Etag": [
            "W/\"53ac606f77305bc9cfc67929e4c9080b\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"adult\":false,\"also_known_as\":[\"Leo DiCaprio\",\"Leonardo Wilhelm DiCaprio\",\"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e \u0414\u0456\u041a\u0430\u043f\u0440\u0456\u043e\",\"\u0d32\u0d3f\u0d2f\u0d28\u0d3e\u0d7c\u0d21\u0d4b \u0d21\u0d3f\u0d15\u0d3e\u0d2a\u0d4d\u0d30\u0d3f\u0d2f\u0d4b\",\"Leonardo Di Caprio\",\"\u0644\u0626\u0648\u0646\u0627\u0631\u062f\u0648 \u062f\u06cc\u200c\u06a9\u0627\u067e\u0631\u06cc\u0648\",\"\u0932\u093f\u092f\u094b\u0928\u093e\u0930\u094d\u0921\u094b \u0921\u093f\u0915\u0948\u092a\u094d\u0930\u093f\u092f\u094b \"],\"biography\":\"Leonardo Wilhelm DiCaprio (born November 11, 1974) is an American actor and film producer. Known for his work in biopics and period films, DiCaprio is the recipient of numerous accolades, including an Academy Award, a British Academy Film Award, and three Golden Globe Awards. As of 2019, his films have grossed over $7.2 billion worldwide, and he has been placed eight times in annual rankings of the world's highest-paid actors.\\n\\nBorn in Los Angeles, DiCaprio began his career in the late 198[...]
[...]
