{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/search/person?api_key=<TMDB_API_KEY>&query=Brad",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "6b8c1e73c8fdc9f71ce7ea0eb9109a6aac7d61968c10f6d24e0ee8a9cecaa4cc"
          ],
          "X-Memc-Age": [
            "12807"
          ],
          "X-Memc-Expires": [
            "9520"
          ],
          "X-Az": [
            "us-east-1c"
          ],
          "X-Task-Id": [
            "9bd085e97fbf42d6861fc3c3a190b799"
          ],
          "Etag": [
            "W/\"935a02b0d7578527160c0836037b7212\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"page\":1,\"results\":[{\"adult\":false,\"gender\":0,\"id\":3640594,\"known_for_department\":\"Acting\",\"name\":\"Brad\",\"original_name\":\"Brad\",\"popularity\":0.0143,\"profile_path\":null,\"known_for\":[{\"adult\":false,\"backdrop_path\":\"/embPe2zFOVzVDMm66tGD31r4NQA.jpg\",\"id\":1005713,\"title\":\"Taking A Virgin To The Club: The Movie\",\"original_title\":\"Taking A Virgin To The Club: The Movie\",\"overview\":\"\",\"poster_path\":null,\"media_type\":\"movie\",\"original_language\":\"en\",\"genre_ids\":[99,35],\"popularity\":0.0256,\"release_date\":\"2019-11-20\",\"video\":false,\"vote_average\":0.0,\"vote_count\":0}]},{\"adult\":false,\"gender\":0,\"id\":3981043,\"known_for_department\":\"Acting\",\"name\":\"Brad\",\"original_name\":\"Brad\",\"popularity\":0.0143,\"profile_path\":null,\"known_for\":[]},{\"adult\":false,\"gender\":0,\"id\":5135071,\"known_for_department\":\"Acting\",\"name\":\"Brad\",\"original_name\":\"Brad\",\"popularity\":0.0,\"profile_path\":null,\"known_for\":[]},{\"adult\":false,\"gender\":0,\"id\":4802083,\"known_for_department\":\"Acting\",\"name\":\"Brad\",\"original_name\":\"Bra[...]
