{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/search/person?api_key=<TMDB_API_KEY>&query=Lupita",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "cb9b1659b344e8cd2ad5cf2d6d9a0cbeb133272d165927b1474d9fa513f2d359"
          ],
          "X-Memc-Age": [
            "1418"
          ],
          "X-Memc-Expires": [
            "21090"
          ],
          "X-Az": [
            "us-east-1a"
          ],
          "X-Task-Id": [
            "b8f65fc675cf46a8a6cd336b6d7b4577"
          ],
          "Etag": [
            "W/\"593df54199371f972d694b9ef470fbc7\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"page\":1,\"results\":[{\"adult\":false,\"gender\":0,\"id\":1759332,\"known_for_department\":\"Acting\",\"name\":\"Lupita Castro\",\"original_name\":\"Lupita Castro\",\"popularity\":0.0261,\"profile_path\":null,\"known_for\":[{\"adult\":false,\"backdrop_path\":null,\"id\":465625,\"title\":\"La contrabandista\",\"original_title\":\"La contrabandista\",\"overview\":\"After her family all are killed in a home invasion, young woman moves to the city, gets involved with a high-level drug-smuggling tycoon. And also a taxi driver.\",\"poster_path\":\"/zgMEAJV7iTI56a1tdfppQahZFcD.jpg\",\"media_type\":\"movie\",\"original_language\":\"es\",\"genre_ids\":[],\"popularity\":0.2682,\"release_date\":\"1982-07-09\",\"video\":false,\"vote_average\":4.7,\"vote_count\":3},{\"adult\":false,\"backdrop_path\":\"/dI10Csg64qxOvtCS7aUh8z7uRCP.jpg\",\"id\":459930,\"title\":\"La carcel de Laredo\",\"original_title\":\"La carcel de Laredo\",\"overview\":\"Unhappy about his daughter's choice of boyfriends, a wealthy big-wheel arranges to have the young man arrested for cocaine trafficking and continues pulling strings after his arrested, tried and incarcerated.\",\"poster_path\":\"/AoOKsLHNhEIrIPfL5hYXLWaUTXI.jpg\",\"media_type\":\"movie\",\"original_language\":\"en\",\[...]
