{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/search/person?api_key=<TMDB_API_KEY>&query=test",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "276b95edf3d2d97234310f31a9b3c8bbe3ba51b788ae61a9a217ced270b1507a"
          ],
          "X-Memc-Age": [
            "286"
          ],
          "X-Memc-Expires": [
            "26832"
          ],
          "X-Az": [
            "us-east-1c"
          ],
          "X-Task-Id": [
            "a54dc0b0c9ae410493110e348ce951c8"
          ],
          "Etag": [
            "W/\"2add6d6260403279fd30dc7603ebb4bf\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"page\":1,\"results\":[{\"adult\":false,\"gender\":0,\"id\":2016640,\"known_for_department\":\"Writing\",\"name\":\"Michael Testone\",\"original_name\":\"Michael Testone\",\"popularity\":0.0616,\"profile_path\":null,\"known_for\":[{\"adult\":false,\"backdrop_path\":\"/fqkvxrJLSTy9gZ0rfyWnnngRwbC.jpg\",\"id\":516373,\"title\":\"All at Once\",\"original_title\":\"All at Once\",\"overview\":\"A young artist in New York City accepts guardianship of his best friends' daughters after the tragic events of Sept. 11, 2001. Eleven years later, he returns to his hometown to raise the two girls.\",\"poster_path\":\"/3sNyXAMX4mBVSN3TmmCVCRf6hLc.jpg\",\"media_type\":\"movie\",\"original_language\":\"en\",\"genre_ids\":[18],\"popularity\":0.3047,\"release_date\":\"2016-11-09\",\"video\":false,\"vote_average\":5.909,\"vote_count\":11},{\"adult\":false,\"backdrop_path\":\"/hgvNpunbkYhPLKj46GotQqlTXng.jpg\",\"id\":639103,\"title\":\"Clover\",\"original_title\":\"Clover\",\"overview\":\"Brothers Jackie and Mickey along with a teen witness Clover find themselves on the run from the city’s most notorious crime boss.\",\"poster_path\":\"/wTp5SYAuTuHDGQGWePkF2z5sHTD.jpg\",\"media_type\":\"movie\",\"original_language\":\"en\",\"genre_ids\":[35,53],\"popularity\":0.4596,\"release_date\":\"2020-04-03\",\"video\":false,\"vote_averag[...]
